<header class="sticky top-0 z-10 border-b bg-white">
  <div class="container flex items-center justify-between p-4">
    <div class="flex items-center gap-2">
      <h1 class="text-xl font-semibold">Gestor de Tareas 🚀</h1>
    </div>
    <div class="flex items-center gap-2">
      <button
      (click)="openModal()"
        class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors duration-300 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 bg-[#18181b] text-white hover:text-[#e1e1e2] hover:bg-[#2f2f31] h-10 w-10"
      >
        <lucide-icon name="plus" class="h-5 w-5"></lucide-icon>
      </button>
    </div>
  </div>
</header>
