<div class="flex flex-col gap-4">
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-2">
      <h2
        [ngClass]="color"
        class="rounded-full px-4 py-2 text-sm font-medium text-white flex items-center gap-2"
      >
        {{ title }}
        <span class="text-gray-700 bg-white px-2 rounded-full">{{
          tasks.length
        }}</span>
      </h2>
    </div>
  </div>
  <div class="grid gap-4">
    @for (task of tasks; track $index) {
    <app-task-card
      [task]="task"
      (updateStatus)="onUpdateStatus($event.id, $event.status)"
      (deleteTask)="onDeleteTask($event)"
      (updateStatusClick)="onUpdateTaskStatusClick($event)"
    />
    }
  </div>
</div>
