<footer class="mt-auto w-full max-w-[85rem] py-10 px-4 sm:px-6 lg:px-8 mx-auto">
  <div class="text-center">
    <div>
      <h2 class="text-2xl font-bold text-gray-900">Gestor de Tareas 🚀</h2>
    </div>

    <div class="mt-3">
      <p class="text-gray-500 text-sm">
        © {{ currentYear }} Gestor de tareas - Desarrollado por
        <a
          href="https://portafolio-anthony-avellaneda.vercel.app"
          target="_blank"
          class="underline hover:text-blue-600 transition duration-300"
          >Anthony Avellaneda Paitan</a
        >
        👨🏻‍💻.
      </p>
    </div>

    <div class="mt-3 space-x-2">
      <a
        class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-500 hover:bg-gray-50 focus:ring-0 focus:outline-none"
        href="https://github.com/AnthonyAvellaneda10"
        target="_blank"
        title="GitHub de Anthony Avellaneda Paitán"
      >
        <lucide-icon name="github"></lucide-icon>
      </a>
      <a
        class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-500 hover:bg-gray-50 focus:ring-0 focus:outline-none"
        href="https://x.com/TomStark08"
        target="_blank"
        title="Twitter de Anthony Avellaneda Paitán"
      >
        <lucide-icon name="twitter"></lucide-icon>
      </a>
      <a
        class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-500 hover:bg-gray-50 focus:ring-0 focus:outline-none"
        href="https://www.linkedin.com/in/anthonyavellanedapait%C3%A1n/"
        target="_blank"
        title="LinkedIn de Anthony Avellaneda Paitán"
      >
        <lucide-icon name="linkedin"></lucide-icon>
      </a>
    </div>
  </div>
</footer>
